* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    width: 1000px;
    max-width: 100%;
    background-color: #efefef;
    text-align: center;
    margin: 0 auto;
}

.profile-img {
    max-width: 60%;
    margin: 0 auto;
}